<div class="d-flex flex-row justify-content-between">
    <img src=""> {{!-- patient profile img --}}
    <p id="general-info">Patient General Info</p>
</div>
{{#if isDoc}}
<button class="btn-success" id="doc-edit">Edit any field</button>
{{else}}
<button class="btn-warning" id="gen-edit">Edit general info</button>
{{/if}}
<hr />


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/SaraJones.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{Patient.fullname}}</h5>
    <p class="card-text">Conditions</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{condition1}}</li>
    <li class="list-group-item">{{condition2}}</li>
    <li class="list-group-item">{{condition3}}</li>
  </ul>
  

</div>