<div class="card">
  <div class="card-header">
    {{userData.preferedName}}'s 
  </div>
  <div class="card-body">
    <h5 class="card-title">General Information</h5>
    <p class="card-text">{{userData.address}}</p>
    <p class="card-text">{{userData.phoneNumber}}</p>
    <p class="card-text">{{userData.gender}}</p>
    <p class="card-text">{{userData.age}}</p>
    {{#if isDoc}}
{{!-- <button class="btn-success" id="doc-edit">Edit any field</button> --}}
<button class="btn-success" id="/addappt" data-patientID= "{{userData.id}}">Add Appointment</button>
{{else}}
{{!-- <button class="btn-warning" id="gen-edit">Edit general info</button> --}}
{{/if}}
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/SaraJones.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{userData.fullName}}</h5>
    <p class="card-text">Conditions</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{userData.condition1}}</li>
    <li class="list-group-item">{{userData.condition2}}</li>
    <li class="list-group-item">{{userData.condition3}}</li>
  </ul>
  
  <ul>
    {{!-- appointments go here --}}
  </ul>
</div>

{{#if isDoc}}
<script src="/js/drPatientInfo.js"></script>
{{/if}}